body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.top-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 32px;
}
.orange-color {
  color: orangered;
}
.half-width {
  width: 50%;
  padding-left: 2%;
}
.half-width img {
  width: 80%;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.link-btn {
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 700;
  background-image: linear-gradient(orange, orangered);
  border-radius: 8px;
}

/* middle section  */
.middle-section {
  margin-top: 10px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* experience section  */
.experience-section {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 25px;
}
.experience-section h1 {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: orange;
  text-underline-offset: 12px;
}

/* card  */
.card {
  box-shadow: 8px 3px 21px gray;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25px;
  width: 40%;
  padding-left: 15px;
  border-radius: 15px;
}
#card1 {
  border-left: 8px solid;
  border-image: linear-gradient(orange, orangered);
  border-image-slice: 1;
}
#card2 {
  border-left: 8px solid;
  border-image: linear-gradient(rgb(64, 64, 179), rgb(64, 86, 107));
  border-image-slice: 1;
}

/* contact section  */
.contactUs-section h1 {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: orange;
  text-underline-offset: 12px;
}
.contactUs-section {
  background-image: url(images/contact-us-bg2.png);
  background-repeat: no-repeat;
}
.contactUs-section div {
  margin: auto;
}
.contact-form {
  box-shadow: 8px 3px 21px gray;
  width: 60%;
  background-color: #f2f2f2;
  border-radius: 15px;
}
.contact-form button {
  margin: 20px 0;
}
input,
textarea {
  width: 80%;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  color: rgba(49, 20, 0, 0.753);
  font-weight: 600;
  resize: none;
}

/* Footer  */
footer p {
  margin-top: 150px;
  text-align: center;
}
