body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.top-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
}
.orange-color {
  color: orangered;
}
.half-width {
  width: 50%;
  padding-left: 2%;
}
.half-width img {
  width: 80%;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.link-btn {
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 700;
  background-image: linear-gradient(orange, orangered);
  border-radius: 8px;
}

.middle-section {
  margin-top: 10px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.card {
  border-left: 6px solid rgb(247, 101, 101);
  box-shadow: 8px 3px 21px 0px rgb(0 0 0 / 20%);
  margin: 25px;
}
footer > section {
  margin-left: 4%;
  padding: 5px;
  background-image: url(/images/exp-bg.png);
  background-position: left;
  background-repeat: no-repeat;
}
footer .experience {
  text-align: center;
}
